*{
    margin: 0px;
    padding: 0px;
}

html{
    background-color: rgb(212, 230, 255);
}

body{
    padding: 1% 1%;
    display: flex;
    flex-wrap: wrap;
    min-height: 20px;
}


body > :first-child{
    width:100%;
    position: sticky;
    top: 0%;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: .5%;
    background-color: rgb(70, 150, 207);
    border-radius: 10px 10px 0px 0px;
}
header a {
    text-decoration: none;
    color: white;
    border-radius: 10px;
    padding-left: .5%;
    width: 18.5%;
}
header h1 {
    font-size: 3em;
    display: flex;
    align-items: center;
    font-size: 1.5em;
}
header h1 img {
    margin-right: 7px;
    width: 12%;
    border-radius: 5px;
}
header form{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);

    width: 20%;
    border-radius: 10px;
}
header form > * {
    background: none;
    text-decoration: none;
    border: none;
    font-size: larger;
    padding-left: 3%;
    padding-right: 3%;
}


header div{
    display: flex;
    justify-content:end;
    width: 19%;
}
header div a{
    background-color: transparent;
    margin: 0px 10px;
    width: 30%;
}
header div a img{
    width: 80%;
    border-radius: 10px;
    background-color: rgb(70, 150, 207);
}
header div a img:hover{
    background-color: rgb(255, 255, 255);
}

#loupe{width: 9%;
padding: 2px;}

nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    margin-bottom: 1%;
    border-radius: 0 0 10px 10px;
}

.categorie-btn{
    padding: 0.2%;
    margin: 0.5%;
    width: 18%;
    background-color: white;
    border-style: none;
    text-align: center;
    font-size: x-large;
    color: black;
}

nav a {
    padding: 0.2%;
    margin: 0.5%;
    width: 18%;
    background-color: rgb(221, 221, 221);
    border-style: none;
    text-align: center;
    text-decoration: none;
    font-size: x-large;
    color: black;
    border-radius: 8px;
}

nav .categorie-btn:hover,
header form :last-child:hover{
    background-color: rgba(221, 221, 221, 0.8);
    border-radius: 5px;
    cursor: pointer;
}


main{
    display: flex;
    width: 100%;
    background: rgb(255, 255, 255);
    justify-content: space-around;
    min-height: 80vh;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
    margin: 1em;
}

section article {
    display: flex;
    border: 1px solid;
    width: 20%;
    padding: 1%;
    margin: 2em;
}

img{
    display: flex;
    width: 100%;
}

main section article > *{
    color: black;
    text-decoration: none;
    font-size: larger;
}
ul{
    list-style: none;
}
ul > :last-child{
    padding: 2px;
    font-size: larger;
}
ul > :nth-child(1){
    height: 350px;
}
ul > :nth-child(2){
    padding: 2px;
    font-size: 100;
    font-family: sans-serif;
    font-weight: 700;
}
ul :nth-child(3){
    padding: 2px;
    font-size: 80%;
    font-family: sans-serif;
}
.mise-en-page-produit{
    width: 100%;
}

#container-produits-panier{
   padding: 1%;
   margin: 1%;
    border: 1px solid;
}

.container-recapitulatif{
    margin: 1em;
    padding: 1em;

}

.affichage-prix, #centre, #btnValideCommande{
    display: flex;
    justify-content: center;
}

#btnValideCommande{
    color: green;
}
.btn_suppr_all{
    color: red;
}


footer{
    width: 100%;
    background-color: rgba(221, 221, 221, 0.8);
    text-align: center;
    
}
